/*------------------Featured Jobs------------------*/
.container3 .box .button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 100;
    height: 34px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100px;
    overflow: visible;
    padding: 10px 10px;
    margin: 1.4px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .btn_container {
      display: flex;
      justify-content: center;
  }
  
  .btn_container .btnmain {
      padding: 0.75rem 2rem;
      font-weight: 600;
      background-color: #4141BF;
      color: white;
      border-radius: 40px;
      transition-property: all;
      transition-duration: 300ms;
      cursor: pointer;
  }
  
  
  
  /* Container for the featured job listings */
  .container3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 80px;
      margin-bottom: 80px;
      max-width: 1920px;
      margin: 0 auto;
  }
  
  .features {
      text-align: center;
  }
  
  .box {
      flex-basis: calc(33.33% - 30px); 
      margin: 15px;
      padding: 40px;
      width: 150px; 
      border: 2px solid #ccc;
      border-radius: 17px;
      gap: 23px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: white;
      display: flex; 
      flex-direction: column;
      position: relative; 
  }
  
  .box img {
      width: 45px;
      height: 45px;
  
  }
  
  .box .button-17 {
      width: 40px;
  }
  
  .box .title {
      position: absolute;
      max-width: 160px;
      top: 50px; 
      right: 90px; 
      text-align: left; 
  }
  
  .box .title h3,
  .box .title h5 {
      margin: 0;
  }
  
  